:root {
  --blue-dark: #201e43;
  --blue-medium: #134b70;
  --blue-light: #508c9b;
  --white-white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blue-light);
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

nav {
  height: 7%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blue-dark);
  color: var(var(--white-white));
}

nav a {
  transition: 0.6s;
}

nav a:hover {
  background-color: var(--blue-medium);
  transition: 0.6s;
  padding: 0.9%;
}

.container {
  width: 50%;
  height: 93%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--white-white);
  background-color: var(--blue-medium);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_container {
  width: 100%;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.main_container h1 {
  margin-block: 1rem;
}

.form {
  width: 50%;
}

.form div {
  margin-bottom: 2rem;
}

.form div input {
  width: 100%;
  max-width: 100%;
  height: 1.9rem;
  padding-inline: 5%;
  border-radius: 4px;
  border: 1px solid var(--blue-dark);
}

.form div input:invalid {
  border: 1px solid red;
}

.form div input:focus:invalid {
  border: 1px solid var(--blue-dark);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-dark);
}

.footer_container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  background-color: var(--blue-dark);
}

footer img {
  width: 5%;
  height: 50%;
  border-radius: 100%;
  float: right;
}

footer div,
img {
  margin-top: 1%;
}

.left_footer_links {
  display: flex;
  flex-direction: column;
}

.footer_socials {
  display: block;
}

.footer_socials div {
  margin-bottom: 5%;
}

footer small {
  text-align: center;
  color: var(--white-white);
}

.err {
  margin-top: 0.5rem;
  color: red;
}

.hidden {
  display: none;
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 20%;
  list-style-type: none;
  padding-left: 20px;
}

.popup::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f8d7da transparent;
}

.valid {
  background-color: #d4edda;
  color: #155724;
}

.valid::before {
  border-color: transparent transparent #d4edda transparent;
}

.valid-item {
  color: #155724;
}

.invalid-item {
  color: #721c24;
}

.hide-popup {
  display: none;
}

@media (max-width: 575.98px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
  }

  .footer_socials {
    margin-inline: 1rem;
  }

  .left_footer_links {
    flex-direction: row;
  }
  .left_footer_links a {
    margin-right: 1rem;
  }
}

@media (width <= 1080px) {
  .container {
    width: 100%;
  }

  .main_container {
    align-items: center;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .main_container h1 {
    margin-block: 0;
  }
}

@media (min-width: 992px) and (max-width: 1244.98px) {
  .container {
    width: 70%;
    height: 110%;
  }
}

@media (max-height: 720px) {
  .container {
    height: 130%;
  }
}
